.category{
    $gray: #4b5563;

    list-style: none;
    margin: 1rem 0;
    display: flex;
    flex-wrap: wrap;
    gap: 0.75rem;

    .item{
        border-radius: 1.5rem;
        text-transform: capitalize;
        padding: 10px 20px;
        font-weight: 500;
        background-color: transparent;
        border: 1px solid $gray;
        color: $gray;
        opacity: 0.8;
        transition: background-color 0.5s , transform .5s, box-shadow .5s;

        &:hover{
            opacity: 1;
            transform: scale(1.001);
            box-shadow: 0px 2px 10px rgba($color: #b7b7b7, $alpha: 1.0);
        }
    }
    .active{
        $black: #000;
    
        opacity: 1;
        background-color: $black;
        border-color: $black;
        color: #fff;
    }
    
}

